{% extends "base.html" %}


{% block content %}
<h1>Все кейсы</h1>
<div class="container">
    <div class="cases-list">
{% for item in cases %}
        <div class="card">
            <a href="/case/{{item['id']}}">
                <div class="card-body">
                    <div class="case-icon">
                        <img src="data:image/png;base64,{{item['image_bytes']}}"
                             style="opacity: 1;">
                    </div>
                    <div class="case-info">
                        <div class="case-name" href="#">
                            {{item["name"]}}
                        </div>
                        <div class="case-price">
                            {{item["price"]}} рублей
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}