{% extends "base.html" %}


{% block content %}
<h1>Название группы кейсов</h1>
<div class="container">
    <div class="cases-list">
        <div class="card">
            <a href="/case">
                <div class="card-body">
                    <div class="case-icon">
                        <img src=""
                             style="opacity: 1;">
                    </div>
                    <div class="case-info">
                        <div class="case-name" href="#">
                            Название кейса
                        </div>
                        <div class="case-price">
                            Цена
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/case">
                <div class="card-body">
                    <div class="case-icon">
                        <img src=""
                             style="opacity: 1;">
                    </div>
                    <div class="case-info">
                        <div class="case-name" href="#">
                            Название кейса
                        </div>
                        <div class="case-price">
                            Цена
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/case">
                <div class="card-body">
                    <div class="case-icon">
                        <img src=""
                             style="opacity: 1;">
                    </div>
                    <div class="case-info">
                        <div class="case-name" href="#">
                            Название кейса
                        </div>
                        <div class="case-price">
                            Цена
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/case">
                <div class="card-body">
                    <div class="case-icon">
                        <img src=""
                             style="opacity: 1;">
                    </div>
                    <div class="case-info">
                        <div class="case-name" href="#">
                            Название кейса
                        </div>
                        <div class="case-price">
                            Цена
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/case">
                <div class="card-body">
                    <div class="case-icon">
                        <img src=""
                             style="opacity: 1;">
                    </div>
                    <div class="case-info">
                        <div class="case-name" href="#">
                            Название кейса
                        </div>
                        <div class="case-price">
                            Цена
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/case">
                <div class="card-body">
                    <div class="case-icon">
                        <img src=""
                             style="opacity: 1;">
                    </div>
                    <div class="case-info">
                        <div class="case-name" href="#">
                            Название кейса
                        </div>
                        <div class="case-price">
                            Цена
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/case">
                <div class="card-body">
                    <div class="case-icon">
                        <img src=""
                             style="opacity: 1;">
                    </div>
                    <div class="case-info">
                        <div class="case-name" href="#">
                            Название кейса
                        </div>
                        <div class="case-price">
                            Цена
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/case">
                <div class="card-body">
                    <div class="case-icon">
                        <img src=""
                             style="opacity: 1;">
                    </div>
                    <div class="case-info">
                        <div class="case-name" href="#">
                            Название кейса
                        </div>
                        <div class="case-price">
                            Цена
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/case">
                <div class="card-body">
                    <div class="case-icon">
                        <img src=""
                             style="opacity: 1;">
                    </div>
                    <div class="case-info">
                        <div class="case-name" href="#">
                            Название кейса
                        </div>
                        <div class="case-price">
                            Цена
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


{% for item in cases %}


{% endfor %}
{% endblock %}