{% extends "base.html" %}


{% block content %}

<style>
  .case-container {
    grid-gap: 2vw 1.5vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
    border: 2px solid #333;
    margin-bottom: 20px; /* Added margin to push the button lower */
  }
   .case1::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid red;
    transform: translateX(-50%);
  }
  .case1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
  }

  .case {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
  }

  .item {
    width: 300px;
    flex-shrink: 0;
    text-align: center;
    color: white;
  }
  .running {
    animation: slide 5s forwards; /* Animation lasts for 12 seconds */
  }
  @keyframes slide {
    0% { transform: translateX(0); } /* Start fast */
    100% { transform: translateX(-{{duration}}px); } /* End fast */
  }
  button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .hidden {
  visibility: hidden;
  grid-gap: 2vw 1.5vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}

.visible {
  visibility: visible;
  grid-gap: 2vw 1.5vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}

</style>
</head>
<body>

<div class="case-container">
    <div class="case1" id="case1">
     <div class="case" id="case">

      {% for item in items %}
        <div class="item">
            <div class="card">
                <div class="card-body">
                    <div class="skin-icon">
                        <img src="data:image/png;base64,{{item['image_bytes']}}"
                             style="opacity: 1;">
                    </div>
                    <div class="skin-info">
                        <div class="skin-name">
                            {{ item["name"] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
  </div>
</div>


</div>
<button type="button" class="btn btn-outline-warning" onclick="startAnimation()">Открыть</button>
<div class="hidden" id="contentToShow">
            <div class="card">
                <div class="card-body">
                    <h4>Ваш выигрыш:</h4>
                    <div class="case-icon">
                        <img src="data:image/png;base64,{{items[win_elem]['image_bytes']}}"
                             style="opacity: 1;">
                    </div>
                    <div class="case-info">
                        <div class="case-name" href="#">
                            {{items[win_elem]["name"]}}
                        </div>

                    </div>
                    <button type="button" class="btn btn-outline-warning" onclick="">Продать за
                            {{items[win_elem]["price"]}} рублей</button>
                    <button type="button" class="btn btn-outline-warning" onclick="">Добавить в инвентарь</button>
                </div>
        </div>
    </div>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
  const element = document.getElementById('case');
  element.addEventListener('animationend', () => {
    const contentToShow = document.getElementById('contentToShow');
    contentToShow.classList.remove('hidden');
    contentToShow.classList.add('visible');
    });
  });
  function startAnimation() {
    document.getElementById('case').classList.add('running');
  }
</script>

</body>
{% endblock %}